aenum==3.1.16
aiobotocore==2.22.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aioitertools==0.12.0
aiosignal==1.3.2
annotated-types==0.7.0
attrs==25.3.0
botocore==1.37.3
-e git+https://github.com/Thanaraklee/dsi321_2025.git@85b99621d90614b2be60cc2c88ce11c2a8ed0b35#egg=dsi321_2025
frozenlist==1.6.0
fsspec==2025.3.2
greenlet==3.2.1
idna==3.10
jmespath==1.0.1
lakefs==0.10.0
lakefs-client==1.44.0
lakefs-sdk==1.54.0
lakefs-spec==0.11.3
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.4.3
numpy==2.2.5
pandas==2.2.3
playwright==1.52.0
propcache==0.3.1
pyarrow==20.0.0
pydantic==2.11.4
pydantic_core==2.33.2
pyee==13.0.0
Pygments==2.19.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-stdnum==1.20
pytz==2025.2
PyYAML==6.0.2
rich==14.0.0
s3fs==2025.3.2
six==1.17.0
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.0.7
wrapt==1.17.2
yarl==1.20.0
